@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  box-sizing: border-box;

  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  width: 100%;

  background-color: #fff;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1600px;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;

  padding: 20px;
}

.navbar__header {
  width: 100%;
  margin: 0;
  padding: 10px 30px;

  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  text-align: left;
}

.navbar__items {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  color: #000;
  font-family: Inter, Arial, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-align: left;
}

.navbar__item {

}

.nav-link {

}

.content {
  overflow: auto;

  display: flex;
  flex-direction: column;
  flex: 1 1 75%;

  padding: 20px;
}
